:root{
   --def-primary:#0e2f60;
}

*{
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3,h5{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0.5em 0em;
}
nav{
  background-color: var(--def-primary);
  padding-top: 0.3em;
}
#landing{
  /*  */
  background: url("bacnkground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 5em 3.5em;
  min-height: 25em;
  max-height: 40em;
  box-shadow: inset 0 0 0.7em   black;
}
#skills{
  text-align: center;
  padding: 2.5em 3.5em;
  height: auto;
}
#skillsImg{
  width: 75%;
}

#projects{
  text-align: center;
  padding: 3.5em;
  height: auto;
}
#certificates{
  text-align: center;
  padding: 3.5em;
  height: auto;
  color: white;
  background: url("Simple Shiny.svg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0.7em   black;
}
#contacts{
  color: white;
  text-align: center;
  padding: 2.5em;
  height: auto;
}
#footer{
  color: white;
  background-color: #0e2f60;
  font-size: 0.8em;
  text-align: center;
  padding: 0.8em;
  height: auto;
}
#IDPic{
  width: 10%;
  margin: 0.5em;
  min-width: 8em;
}
#fish{
  height: 5%;
  min-height: 8em;
}
#logo{
  width: 15em;
  height: 15em;
}

.icon{
  height: 50%;
  width: 50%
}
.row{
  padding: 3em;
}
.modal-body{
  text-align: center;
}
.card{
  padding-top: 1.5em;   
}
.card:hover{
  transform: scale(1.05);
  font-weight: bold;
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}